#canvas {
    background-color: white;
    border: 5px solid black;
}

.outer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   min-height: 100vh;
}

.buttons {
    display:flex;
    align-items: center;
    gap: 10px
}

body {
    background-color: rgb(53, 56, 57);
    color: white;
}

.page-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

